<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--Personal Access Token. Is generated in TFS settings. Ignore for now, it is not used yet. -->
    <add key="pat" value="pat-code-goes-here"/>
    <!--For example: https://tfs/Default -->
    <add key="baseUrl" value="https://tfs/Default"/>
    <!--Name of project, get from url, like here"{name}/_apis/git/repositories..."-->
    <add key="baseProjectName" value="PROJECTNAME"/>
    <add key="updateIntervalMinutes" value="3"/>
    <!--Use "all" to get all pull requests-->
    <add key="pullRequestsToTake" value="10"/>
    <!--Default tester to reassign to, in case no Tasks were found in PBI or Bug -->
    <add key="defaultTester" value="DOMAIN\NAME"/>
    <!--Domain of users to look for in the Description, in case you want to specify to whom should the task
    be reassigned. For example, set Description of PBI to: "Should be tested by DOMAIN\USERNAME" for this to work -->
    <add key="defaultDomain" value="DOMAIN"/>
    <!--Use this field to have normal names mapping to domain names.
    For example: "tester1name:DOMAIN\NAME1;tester2name:DOMAIN\NAME2"-->
    <add key="customTesterNamesMapping" value="peter:DOMAIN\PETER"/>
    <!--Use semicolon separated domain\names or "all"-->
    <add key="allowedCreators" value="all"/>
    <!--Semicolon separated titles, that we need to skip-->
    <add key="titlesToSkip" value="Resolving merge issues"/>
    <!--Semocolon separated names of repositories. You can open Pull Requests and look at your TFS URL to get those
    For example: ".../_git/NAME/pullrequests" → "NAME" is a repository-->
    <add key="repositoryList" value="REPOSITORY_NAME1;REPOSITORY_NAME2"/>
  </appSettings>
</configuration>